{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/libros/index.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h3>Detalle del libro</h3>
    <hr>
    <h4>{{ libro.titulo }}</h4>
    <p>{{ libro.descripcion }}</p>
    <img src="{{ libro.imagen.url }}" alt="" width="200">
    <hr>
    <!--mostrar los prestamos-->
    <h4>Prestamos</h4>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Fecha de prestamo</th>
                <th>Fecha de devolucion</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for prestamo in prestamos %}
                <tr>
                    <td>{{ prestamo.prestamos_id }}</td>
                    <td>{{ prestamo.usuario }}</td>
                    <td>{{ prestamo.fecha_solicitud}}</td>
                    <td>{{ prestamo.fecha_devolucion }}</td>
                    <td>{{prestamo.estado}}</td>
                    <td>
                        <a href="{% url 'prestamos:aceptar' prestamo.prestamos_id %}"><button class="btn btn-success" type="submit">Aceptar</button></a>
                        <a href="{% url 'prestamos:cancelar' prestamo.prestamos_id %}"><button class="btn btn-danger" type="submit">Rechazar</button></a>
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a class="create-btn" href="{% url 'libros:index' %}">Volver</a>
</div>
{% endblock %}

