{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/usuarios/login.css' %}">
</head>
<body>
    <div class="container">
    <h1>Iniciar Sesión</h1>
    
    {% if error %}
      <p style="color:red;">{{ error }}</p>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <br>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <button type="submit">Ingresar</button>
        <p>No tienes cuenta. Registrate <a href="{% url 'usuarios:registro' %}">   Aqui</a></p>
    </form>
</div>
</body>
</html>